<head>
	<title>카테고리 목록</title>
	<link rel="stylesheet" href="/static/melon/plugins/jstree/themes/default/style.min.css" />
	<script src="/static/melon/plugins/jstree/jstree.min.js"></script>
	<script type="text/javascript">
		var URI_PREFIX = '/rear/category/';
		var DETAIL_CONTENT_AREA = 'dev-detail-content';
		
		function jsInsert(obj) {
			var titleText = obj.text + ' 하위 카테고리 등록';
			detailTitleHandler(titleText);
			
			jQuery.ajax({
				url: URI_PREFIX + 'insertform.ajax',
				data: {pcateSeq: obj.id},
				success: function(result) {
					detailContentHandler(result);
				}
			});
		}
		
		function jsUpdate(obj) {
			var titleText = obj.text + ' - 수정 ';
			detailTitleHandler(titleText);
			
			jQuery.ajax({
				url: URI_PREFIX + 'updateform.ajax',
				data: {cateSeq: obj.id},
				success: function(result) {
					detailContentHandler(result);
				}
			});
					
		}
		
		function jsView(obj) {
			var titleText = obj.text + ' - 상세정보';
			detailTitleHandler(titleText);
			
			jQuery.ajax({
				url: URI_PREFIX + 'view.ajax',
				data: {cateSeq: obj.id},
				success: function(result) {
					detailContentHandler(result);
				}
			});			
		}
		
		function detailTitleHandler(txt) {
			$('#dev-detail-title').text(txt);
		}
		
		function detailContentHandler(html) {
			$('#dev-detail-content').html(html);
		}
		
		$(function () {
			$('#dev-cate-tree').jstree({
				'core' : {
					'animation' : 0,
					'check_callback' : true,
					'themes' : { 'stripes' : true },
					'data' : {
						'url' : function (node) {
							return URI_PREFIX + 'tree.json';
						},
						'data' : function (node) {
							var tempNodeId = node.cateSeq === '#' ? '0' : node.cateSeq;
							return { 'pcateSeq' : tempNodeId};
						}
					}
				},
				'types' : {
					'#' : {
						'max_children' : 1, 
						'max_depth' : 4, 
						'valid_children' : ['root']
					},
					'root' : {
						'icon' : '/assets/js/jstree/images/tree_icon.png',
						'valid_children' : ['default']
					},
					'default' : {
						'valid_children' : ['default','file']
					},
					'file' : {
						'icon' : 'glyphicon glyphicon-file',
						'valid_children' : []
					}
				},				
				'plugins' : ['contextmenu', 'state', 'types', 'wholerow'],
				'contextmenu' : {
					'items': function($node) {
						return {
							'insert': {
								'label' : '등록',
								'action' : function() {
									console.log($node);
									jsInsert($node);
								}
							},
							'update': {
								'label' : '수정',
								'action' : function() {
									jsUpdate($node);
								}
							},
							'view' : {
								'label' : '상세조회',
								'action' : function() {
									jsView($node);
								}
							}
						}
					}
				}
			});		
		});
	</script>
</head>
<body>


<div class="col-md-4">
	<div class="widget box"> 
		<div class="widget-header"> 
			<h4><i class="icon-reorder"></i> 카테고리</h4> 
		</div>
		<div class="widget-content" id="dev-cate-tree">
		
		</div>
	</div>
</div>

<div class="col-md-8">
	<div class="widget box"> 
		<div class="widget-header"> 
			<h4><i class="icon-reorder"></i><span id="dev-detail-title"> 상세정보</span></h4> 
		</div>
		<div class="widget-content" id="dev-detail-content">
			&nbsp;
		</div>
	</div>
</div>

</body>




	