<head>
	<script type="text/javascript">
		function insertCategory() {
			var form = document.insertForm;
			if (form.cateName.value == '') {
				alert('카테고리명을 입력해 주십시오.');
				form.cateName.focus();
				return false;
			}
			
			form.action = '/rear/category/insert';
			form.submit();
		}
	</script>
</head>
<body>

<form id="insertForm" name="insertForm" method="post" class="form-horizontal row-border" onsubmit="return insertCategory();">
	<div class="form-group">
		<input type="hidden" name="pcateSeq" id="pcateSeq" value="$!params.pcateSeq" >
		<label class="col-md-2 control-label">상위카테고리</label>
		<div class="col-md-10">
			#if ($params.pcateSeq == "0")
			ROOT
			#else
			$!data.cateName
			#end
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label">
			카테고리명
			<span class="required">*</span>
		</label>
		<div class="col-md-10"><input type="text" id="cateName" name="cateName" class="form-control"></div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-sm btn-primary pull-right">등록</button>
	</div>	
</form>

</body>