<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appender 설정 -->
	<!-- 기본 출력 Log Appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<logger name="randy" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="java.sql.Connection" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="java.sql.PreparedStatement" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="java.sql.ResultSet" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.apache.ibatis">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.mybatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.apache.velocity" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>	
	
	<!-- for mybatis sql logging (is same mapper default namespace) -->
	<logger name="randy.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	<!-- Root Logger 설정 -->
	<root>
		<level value="info" />
		<appender-ref ref="console"/>
	</root>
</log4j:configuration>
